.product-info{
    width: 100%;
    margin: 20px aut 0;
    padding: 20px;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #ddd;
    display: grid;
   grid-template-columns: 50% 50% ;




}

.product-info .perfil{
    display: flex;
    flex-direction: row;
}


.product-info .perfil img{
 height:30vw;
}

.product-info .perfil button,.product-info .detalhe button{
    height: 20%;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    border:0;
    background: #da552f;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.product-info .detalhe strong{
    background: #da552f;
    color: #fff;
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
}

.product-info .detalhe .carr .v{
    color: white;
    width: 300px;
    background:black;
    padding: 154px;
    border-radius: 10px;

}

.product-info .detalhe .carr{
    width: 100%;
    left:  80%;
    position: relative;
    }


.product-info .detalhe .comprar button:disabled,.product-info .perfil button:disabled,.product-info .perfil button:hover,.product-info .detalhe button:hover,.product-info .perfil button:hover,.product-info .detalhe button:disabled{
    opacity: 0.7;
}



.product-info .detalhe .comprar{
    margin-top: 2%;
}


.product-info .detalhe .comprar button{
   background: chartreuse;
   font-size: 20px;
}





.product-info .detalhe h1{
      font-size: 32px;
}

.product-info .detalhe p{
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}

.product-info .detalhe p a{
    color: #069;
}
.fa-shopping-cart{
    position: fixed;
    top: 5%;
   color: #e95950;
   right: 5%;
 
  }