header#main-header{
    background-attachment: fixed;
	background-image: url(capa-madmax2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 90vh;
	justify-content: space-between;
	padding: 20px;
	position: relative;
	width: 100%;
}


header#main-header:after {
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 212, 255, 0) 75%
	);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

header#main-header p{
	margin-top:10%;
    color:#fff ;
	font-size: 5.3em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}
