.vazio{
	background-image: url(sale.png);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 52vw;
}

.feed {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 16px;
}

.post {
	display: flex;
	flex-direction: row;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 30px;
}

.post__img {
	overflow: hidden;
	width: 100%;
	height: auto;
	margin: 0;
	cursor: pointer;
}

.post__img img {
    width: 25%;
    justify-content: center;
}


.post__buttons {
	display: flex;
	background-color: #fff;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.post__button p {
	font-size: 1.0rem;
}

.fa-chevron-circle-up{
    color: brown;
}
.fa-chevron-circle-down{
      color: brown;
}
.fa-trash{
    color:slategrey;
}

.feed .container .buttonarias{
	margin-left: 75%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-radius: 12px;
	color: #fff;
	background-color: rgb(2, 94, 48);
	font-size: 5vw;
}


.fa-home{
    position: fixed;
    top: 5%;
   color: #e95950;
   right: 5%;
 
  }